<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
	</configSections>

	<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
		<assembly name="NET5ClassLibraryInterface"/>
		<assembly name="NET5ClassLibraryImplementation"/>
		<container>
			<register type="NET5ClassLibraryInterface.IDataCreate" mapTo="NET5ClassLibraryImplementation.DataCreate" />
		</container>
	</unity>
</configuration>